:root {
--heading-font-family:'Playfair Display', serif;
--heading-font-color:black;
--default-background-color: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
--default-font-family:'Poppins', sans-serif;
--default-btn-color:linear-gradient(to right, #525151 0%, black 100%);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight:  bold;
    color: var(--heading-font-color);
}
    h1{
        font-size: 96px;
        line-height: 1.5;
    }
    h2 {
        font-size: 64px;
    }
p {
    font-weight: normal;
    font-family: var(--default-font-family);
    color: var(--heading-font-color);
    font-size: 16px;
    line-height: 30px;
    
}
.hero {
    background: var(--default-background-color);
    text-align: center;
    padding: 120px 60px;
}
.hero p {
    
    font-size: 36px;
font-weight: bold;
margin: 0;
color: var(--heading-font-color);
}
.hero h2 {
   font-family: var(--default-font-family);
   font-weight: normal;
   font-size: 24px;
   line-height: 1.5;
   opacity: 0.8;
}
body {
    background: var(--default-background-color);
}
.btn-branding {
    background: var(--default-btn-color);
    border-radius: 4px;
    color: whitesmoke;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border:  1px solid  var(--default-btn-color);
}
.btn-branding:hover {
    color: black;
}
.btn-branding-outline {
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 4px;
    background: var(--default-btn-color);
    color: whitesmoke;
    border:  1px solid  var(--default-btn-color);
}
.btn-branding-outline:hover {
    color: black; }
   .project-description {
    padding: 70px 50px;
   }
   @media (max-width:900px) {
    h1 {
        font-size: 44px;
        line-height: 56;
    }
    h2 {
        font-size: 44px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .hero {
        padding: 80px 20px;
    }
    .content {
        text-align: center;
        padding: 0;
    }
   }
   .josie {
    border-radius: 10px;
   }
   .content h1 {
    font-size: 64px;
    line-height: 80px;
   }
   .content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
   }
   .content-container {
    padding: 80px 20px;
   }
   .content {
    margin: 30px;
   }
   .content h3 {
    font-size: 24px;
    font-family:var(--default-font-family) ;
    line-height: 1.5;
    margin: 20px 0 0;
   }
   .contect p {
font-size: 14px;
   }
   .logo {
    max-width: 120px;
   }
   img {
    border:black 5px solid;
   }
   .navbar{
    background:radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  }
  
  .navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  
  .navbar li{
    margin: 0 10px;
  }
  
  .navbar li a  {
    color: white;
    text-decoration: none;
    font-size: 18px; }